.ProjectCard {
  height: 180px;
  width: 330px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 10px 10px $shadow;
  border-radius: 6px;

  .image {
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 6px;
  }
  .onClick {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -200px;
    z-index: 1;
    transition: all $mediumAnimation ease-in-out;

    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 2;
      border-radius: 6px;
      filter: blur(5px);
    }
    .content {
      @include flex-container(column, space-around, center);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 3;
      color: white;
      left: -300px;
      transition: all $fastAnimation ease-in-out;

      .list {
        @include flex-container(row, center, center, 50px);
        list-style-type: none;

        a {
          @include flex-container(column, center, center, 2px);
          text-decoration: none;
          color: $text-light;
          font-size: 2.2rem;

          &:hover {
            transform: scale(1.1);
            color: $secondary-color;
          }

          span {
            font-size: 0.8rem;
          }
        }
      }
      .name {
        font-size: 2rem;
      }
    }
  }
}
.ProjectCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px $secondary-color;
}
.ProjectCard:hover .onClick {
  top: 0;
}
.onClick:hover .content {
  left: 0;
}
