.MainLayout {
  overflow: hidden;

  .line {
    position: absolute;
    right: 3%;
    height: 90%;
    width: 5px;
    background-color: $secondary-color;
    z-index: -1;
  }
  .hl {
    position: absolute;
    top: 2%;
    right: 0;
    width: 90%;
    border: 2px solid $secondary-color;
  }
  .main {
    height: 88vh;
    margin: 10px;
    padding: 40px;
  }
}

@media screen and (min-width: 800px) {
  .MainLayout {
    .line {
      height: 100%;
    }
    .hl {
      width: 80%;
    }

    .main {
      position: fixed;
      right: 0;
      height: 100vh;
      width: 80vw;
    }
  }
}
