.About {
  @include flex-container(column, center, center, 40px);

  .headerText {
    color: $secondary-color;
    text-shadow: 1px 1px 1px $secondary-color;
  }
  .biography {
    @include flex-container(column, center, center, 40px);

    .image {
      position: relative;

      .photo {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: lightcoral;
        border-radius: 8px;
      }
      .square {
        top: 20px;
        left: 20px;
        height: 250px;
        width: 250px;
        border: 3px solid $secondary-color;
        border-radius: 8px;
        background-color: rgba(183, 45, 45, 0.15);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .About {
    .biography {
      @include flex-container(row, center, center, 40px);

      .bioText {
        font-size: 1.2rem;
        width: 40vw;
      }
    }
  }
}
