.About {
  height: 100%;
  overflow: scroll;

  .container {
    @include flex-container(column, center, center, 40px);

    .headerText {
      color: $secondary-color;
      text-shadow: 1px 1px 1px $secondary-color;
    }
    .biography {
      @include flex-container(column, center, center, 40px);

      .image {
        position: relative;

        .photo {
          position: absolute;
          top: 20px;
          left: 20px;
          border-radius: 8px;
          background-color: lightcoral;
          transform: translateX(1000px);
          animation: right-appear $mediumAnimation forwards 500ms;
          z-index: 2;
        }
        .square {
          top: 20px;
          left: 20px;
          height: 250px;
          width: 250px;
          border: 3px solid $secondary-color;
          border-radius: 8px;
          background-color: rgba(183, 45, 45, 0.15);
          transform: translateY(-1000px);
          animation: top-appear $mediumAnimation forwards;
        }
      }

      .bioText {
        padding: 20px;
        transform: translateX(1000px);
        animation: right-appear $mediumAnimation forwards 1500ms;
      }
    }
    .skillsArea {
      @include flex-container(column, center, center, 40px);
      transform: translateX(1500px);
      animation: right-appear $mediumAnimation forwards 2500ms;
    }
  }
}

@media screen and (min-width: 768px) {
  .About {
    .container {
      .biography {
        @include flex-container(row, center, center, 40px);

        .bioText {
          font-size: 1.2rem;
          width: 40vw;
        }
      }
    }
  }
}
