.Home {
  @include flex-container(column, center, center, 40px);
  height: 100%;

  .imageContainer {
    width: 70vw;

    .image {
      transform: translateY(-1000px);
      border-radius: 100%;
      animation: top-appear $mediumAnimation forwards;
      box-shadow: 8px 8px 8px $shadow;
    }
  }
  .text {
    .firstText {
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 0.15em;
      animation: typing 3.5s steps(30, end);
      .hand {
        display: inline-block;
        transform: rotate(-15deg);
        animation: left-right $mediumAnimation alternate infinite;
      }
    }
    .secondText {
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 0.15em;
      animation: typing 3.5s steps(30, end);

      .highlighted {
        color: $secondary-color;
      }
    }
    .thirdText {
      transform: translateX(1000px);
      animation: right-appear $mediumAnimation forwards 3400ms;
    }

    .list {
      @include flex-container(row, center, center, 40px);
      width: 100%;
      list-style-type: none;
      margin-top: 10px;
      transform: translateX(1000px);

      animation: right-appear $mediumAnimation forwards 4400ms;

      .listItem {
        cursor: pointer;
        padding: 10px;
        border-radius: 6px;
        background-color: white;
        box-shadow: 0 0 2px $shadow;
        a {
          color: $text-light;
          text-decoration: none;
          color: $secondary-color;
          font-size: 1.5rem;
        }

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 0 2px $secondary-color;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .Home {
    @include flex-container(row, center, center, 40px);
    .imageContainer {
      width: 30vw;
    }
    .text {
      width: 50%;
      font-size: 1.2rem;
      .highlighted {
        color: $secondary-color;
      }

      .list {
        @include flex-container(row, center, center, 40px);
        width: 100%;
        list-style-type: none;
        margin-top: 10px;

        .listItem {
          a {
            color: $text-light;
            text-decoration: none;
            color: $secondary-color;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
