.Navbar {
  height: 50px;
  width: 80vw;
  background-color: $secondary-color;
  color: $text-light;
  position: fixed;
  bottom: 10px;
  left: calc(50vw - 40vw);
  border-radius: 24px;
  padding: 10px;
  z-index: 4;

  .logo {
    display: none;
  }
  .list {
    @include flex-container(row, space-around, center);
    width: 100%;
    height: 100%;
    list-style-type: none;
    font-size: 1.9rem;

    .listItem {
      .iconSelected {
        background: linear-gradient(
          180deg,
          $primary-color 60%,
          rgba(255, 255, 255, 0.43) 85%
        );
        border-radius: 6px;
        font-size: 2.1rem;
        padding: 2px;
        font-weight: bold;
      }
      a {
        color: $text-light;
        text-decoration: none;
      }
      .iconSelected {
        font-size: 2.2rem;
        color: $secondary-color;
      }
    }

    .textList {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .Navbar {
    height: 100vh;
    width: 20vw;
    max-width: 250px;
    min-width: 170px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    .logo {
      display: block;
      font-size: 3rem;
      text-align: end;
    }
    .list {
      @include flex-container(column, center, flex-start, 15px);
      width: 100%;
      list-style-type: none;
      font-size: 1.9rem;

      .listItem {
        width: 100%;

        .iconSelected {
          width: 100%;
          background: linear-gradient(
            66deg,
            $primary-color 60%,
            rgba(255, 255, 255, 0.43) 85%
          );
        }
        @include flex-container(row, flex-start, flex-start, 10px);
        a {
          @include flex-container(row, flex-start, flex-start, 10px);
        }
      }

      .textList {
        display: block;
        font-size: 1.4rem;
      }
    }
  }
}
