$primary-color: #f5f3f3;
$secondary-color: #1d6453;
$third-color: #c7ef73;
$contrast-color: #ff4f3b;
$contrast-dark: #eb4b39;

$overlay-color: rgba(0, 0, 0, 0.2);

$title-dark: #181717;
$title-light: #f2f2f2;
